.tabs {
  display: flex;
  justify-content: center;
  gap: var(--spacing-11);
  border-top: 1px solid var(--secondary-dark);
}

.btn-tab {
  display: flex;
  align-items: center;
  gap: var(--spacing-04);
  letter-spacing: var(--spacing-01);
  text-transform: uppercase;
  font-size: var(--fs-06);
  color: var(--grey-1);
  padding: var(--spacing-06) 0 var(--spacing-07) 0;
  background-color: transparent;
  border-radius: 0;
}

.btn-tab svg {
  color: inherit;
}

.btn-tab--active {
  border-top: 1px solid var(--text-dark-1);
  color: var(--text-dark-2);
}

.btn-tab--active svg {
  color: inherit;
}