.content--photos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: var(--spacing-07);
  grid-column-gap: var(--spacing-08);
  position: relative;
}

.photos-grid__item {
  width: 100%;
}

.photos-grid__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.photos-grid__action {
  position: absolute;
  bottom: var(--spacing-06);
  display: flex;
  width: 100%;
  justify-content: center;
}

.photos-grid__action button {
  border-radius: var(--spacing-10);
}

